@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  margin: 0;
  padding: 0;
}

html {
  background: url("/static/usuario/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: transparent;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav,
.navbar-toggler,
.nav-item {
  margin-left: auto !important;
  animation: FallDown 0.5s linear !important;
}

.bg-light {
  background-color: transparent !important;
}

.nav-link {
  text-decoration: none !important;
  color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold !important;
}

@keyframes FallDown {
  100% {
    transform: translateY(0);
  }
  0%,
  10% {
    transform: translateY(-300px);
  }
}

.tarjeta-contenedor {
  margin: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  animation: FallDown 0.5s linear !important;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 33%;
  min-height: 33%;
  margin: 0 2.5%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  opacity: 87%;
}

.tarjeta:hover {
  transform: scale(1.1);
  opacity: 100%;
}

.materia,
.entrega,
.botones {
  padding: 4% 0;
}

.tarjeta div {
  margin: 2.5% 2.5%;
}

.title {
  text-align: center;
  color: white;
  margin: 0px !important;
  background: linear-gradient(to right, #3123af, #7236fb);
}

.materia h3 {
  font-size: 2vw;
}

.entrega h3 {
  font-size: 1vw;
}

.boton {
  background: linear-gradient(to right, #3123af, #7236fb);
  border: none;
  color: #fff;
  border-radius: 2px;
  height: 3vw;
  min-width: 3.95vw;
  text-align: center;
  padding: 0 0.87vw;
}

@media (max-width: 992px) {
  .tarjeta-contenedor {
    flex-direction: column;
  }
  .tarjeta {
    margin-bottom: 6vw;
  }

  .materia h3 {
    font-size: 5vw;
  }
  .entrega h3 {
    font-size: 3vw;
  }

  .boton {
    height: 9vw;
    width: 20vw;
  }

  .boton a {
    font-size: 3vw;
  }
}
