@import url("https://fonts.googleapis.com/css2?family=Roboto");
:root {
  --box-shadow-color: #7236fb;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: url("/static/usuario/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
  background: transparent;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav,
.navbar-toggler,
.nav-item {
  margin-left: auto !important;
  animation: FallDown 0.5s linear !important;
}

.bg-light {
  background-color: transparent !important;
}

.nav-link {
  text-decoration: none !important;
  color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.1rem;
}

@keyframes FallDown {
  100% {
    transform: translateY(0);
  }
  0%,
  10% {
    transform: translateY(-300px);
  }
}

.tarjeta-contenedor {
  margin: 7% 2% 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 8rem;
  padding-bottom: 10rem;
  animation: FallDown 0.5s linear !important;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  min-width: 90%;
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 2.5%;
  margin-bottom: 0px !important;
  text-align: center;
  transition: all 0.2s ease-in-out;
  opacity: 87%;
  flex: 1 0 33%;
}

.tarjeta-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  min-width: 33%;
  aspect-ratio: 1/1.1;
  margin-bottom: 0px !important;
  text-align: center;
  transition: all 0.2s ease-in-out;
  opacity: 87%;
}

.tarjeta:hover {
  opacity: 100%;
}

.tarjeta-wrapper:hover {
  transform: scale(1.1);
  opacity: 100%;
}

.activo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 95%;
}

.entregado {
  width: 99.5%;
  height: 3.12em;
  background-color: crimson;
  border-radius: 0 0 100px 100px;
  border: none;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 3rem var(--box-shadow-color);
}

#pendiente {
  background-color: rgb(29, 194, 23) !important;
}

.materia,
.entrega,
.botones {
  padding: 4% 0;
}

.tarjeta div {
  margin: 2.5% 2.5%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0px !important;
  background: linear-gradient(to right, #3123af, #7236fb);
  width: 100%;
  min-height: 15%;
  height: 20%;
  flex-shrink: 0;
}

.title h1 {
  word-break: break-all;
  vertical-align: middle;
  font-size: 2em;
}

.materia h3 {
  margin-top: 5%;
  font-size: 1.5rem;
  height: 4rem;
}

.entrega h3 {
  font-size: 1rem;
}

.boton {
  background: linear-gradient(to right, #3123af, #7236fb);
  border: none;
  color: #fff;
  border-radius: 2px;
  width: 7rem;
  aspect-ratio: 1 / 0.43;
  flex: 1 0;
  text-align: center;
}

.boton a {
  text-decoration: none;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.empty-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10%;
}

.empty {
  color: white;
  font-size: 4rem;
  margin-bottom: 3%;
}

.empty-p {
  color: white;
  font-size: 2rem;
}

.empty-p a {
  color: #7236fb;
}

@media (max-width: 992px) {
  .tarjeta-contenedor {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 6rem;
  }
  .tarjeta-wrapper {
    align-items: center;
    aspect-ratio: 1/1.4;
  }

  .title {
    height: 5rem;
  }

  .title h1 {
    font-size: 2rem;
    margin-top: 0.5%;
  }

  .materia h3 {
    font-size: 1.5rem;
    height: 100%;
  }
  .entrega h3 {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .boton {
    width: 5.5rem;
  }

  .boton a {
    font-size: 1rem;
  }

  #boton1 {
    margin-right: 0.5rem;
  }

  #boton2 {
    margin-left: 0.5rem;
  }

  .activo {
    width: 95%;
    margin-right: 0%;
  }

  .entregado {
    height: 3rem;
    font-size: 1rem;
    width: 99.5%;
  }

  .empty-container {
    width: 100%;
    height: 100%;
  }

  .empty {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }

  .empty-p {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
  }
}
