{% extends "usuario/indexlayout.html" %}

{% load static %}

{block titile} Trabajos Pendientes {endblock}

{% block css %}
<link rel="stylesheet" href="{% static 'usuario/index.css' %}">
{% endblock %}

{% block body%}
  
  <h1>{{date}}</h1>

  <div class="tarjeta-contenedor">
    {% for trabajo in trabajos %}
    <div class="tarjeta-wrapper">
      <div class="tarjeta">
        <div class="title">
          <h1 class="t">{{ trabajo.tps.titulo }}</h1>
        </div>
        <div class="materia">
          <h3>{{ trabajo.tps.get_materia_display }}</h3>
        </div>
        <div class="entrega">
          <h3>Fecha de entrega: {{ trabajo.tps.fecha_entrega }}</h3>
        </div>
        <div class="botones">
          <button type="button" class="boton" id="boton1">
            <a href="{{ trabajo.tps.consignas }}">Consignas</a>
          </button>
          <button type="button" class="boton" id="boton2">
            <a href="{{ trabajo.tps.material }}">Material</a>
          </button>
        </div>
      </div>
      <div class="activo">
        <form action="/" method="POST" class="form">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ trabajo.id }}">
          <button type="submit" class="entregado">
              Marcar como finalizado
            </button>
      </form>
      </div>
    </div>
    {% empty %}
    <div class="empty-container">
      <h1 class="empty">¡Estas al dia!</h1>
      <p class="empty-p">No tenes ningun trabajo pendiente</p>

    </div>
    {% endfor %}

  </div>







{% endblock %}