* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
}

.text {
  color: white;
  font-size: 1.47rem;
  margin: 0.6em 2.3em;
  font-weight: normal;
  text-align: center;
}

.login {
  padding: 2em;
}

.wrapper {
  display: block;
  width: 100%;
}

.input {
  display: inline-block;
  min-width: 12.83em;
  min-height: 3.15em;
  vertical-align: middle;
  width: 100%;
}

.field {
  width: 100%;
  text-align: left;
  border-radius: 50px;
  border: 1px solid#1b2956;
  border-top: 1px solid#1b2956;
  font-size: 0.945rem;
  color: white;
  height: 4.2em;
  padding: 2.1em 1.05em;
  margin-bottom: 1.05em;
  background-color: #1b2956;
}

.head {
  display: block;
  float: right;
  margin: 1.05em 0%;
}

.opcion {
  color: #7595c3;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1.05em 1.05em;
  font-size: 0.9rem;
  width: 10rem;
}

.flecha {
  display: block;
  float: right;
  height: 30%;
  width: 30%;
  margin-left: 0.55em;
  opacity: 90%;
}

.boton {
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-width: 12.83em;
  min-height: 3.15em;
  vertical-align: middle;
}

.button {
  background: linear-gradient(to right, #3123af, #7236fb);
  border: none;
  color: #fff;
  border-radius: 2px;
  height: 3.15em;
  min-width: 4.14em;
  text-align: center;
  float: right;
  margin: 2.29em 0;
  padding: 0 0.91em;
}

input:focus {
  outline: none;
}

@media (max-width: 992px) {
  .text {
    margin: 0.6em 1em;
  }

  .text h2 {
    font-size: 2.5rem;
  }

  .login {
    padding: 1.3em 0.8em 0;
  }
}
